@font-face {font-family: "Montserrat-Bold"; src: url("fonts/Montserrat-Bold.ttf");}
@font-face {font-family: "Montserrat-Medium"; src: url("fonts/Montserrat-Medium.ttf");}
@font-face {font-family: "Montserrat-Regular"; src: url("fonts/Montserrat-Regular.ttf");}
@font-face {font-family: "Montserrat-Light"; src: url("fonts/Montserrat-Light.ttf");}

%dropshadow-container-spread {// @extend %dropshadow-container-spread;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);}

%MB {font-family: "Montserrat-Bold";}
%MM {font-family: "Montserrat-Medium";}
%MR {font-family: "Montserrat-Regular";}
%ML {font-family: "Montserrat-Light";}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
img:not([src]):not([srcset]) {
  visibility: hidden;
}
.logo {
  font-size: 32px;
  font-family: 'Montserrat-Bold';
  line-height: 50px;
  img {
    width: 50px;
    height: 50px;
  }
}
/*
1.header
2.header-slider
3.main-container
4.review-container
5.footer
modal popup
*/

.container { 
  /*1.header*/
  .header {
    padding-top: 10px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    width: unset;
    height: 70px;
    @extend %dropshadow-container-spread;
    z-index: 2;
    .header__logo {
      display: flex;
      justify-content: center;
    }
  }
  /*2.header-slider*/
  .header-slider {
    height: 700px;
    @extend %dropshadow-container-spread;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) -50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 150%);

    .swiper-slide {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      font-size: 44px;
      @extend %MR;
      
      .swiper-text {
        padding-top: 110px;
        width: 100%;
        height: unset;
      }

      .heading {
        @extend %MB;
        font-size: 58px;
      }

      .swiper-image {
        margin-right: 15%;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      background-color: #474747;
      color: white;
      width: 50px;
      height: 100px;
    }

    .swiper-button-next {
      right: 0%;
    }

    .swiper-button-prev {
      left: 0%;
    }
  }
  /*3.main-container*/
  .main-container {
    @extend %dropshadow-container-spread;

    .main {
      margin: 0 auto;
      width: 1100px;
      
      height: unset;

      p {
        padding: 100px 0 50px 0;
        text-align: center;
        font-size: 58px;
        @extend %MM;
      }

      .catalog-container {
        display: flex;
        flex-wrap: wrap;

        .product {
          margin: 0 100px 100px 0;
          padding: 25px 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          width: 300px;
          height: 425px;
          border: solid rgb(0, 0, 0, 0.6) 3px;
          border-radius: 25px;
  
          &:nth-child(3n) {
            margin-right: 0;
          }

          .product-image img {
            width: 170px;
            height: 170px;
          }

          .product-name {

            @extend %MM;
            font-size: 16px;
          }

          .product-description {
            font-size: 14px;
            @extend %MR;
          }

          .product-button button {
            @extend %MM;
            font-size: 16px;
            width: 180px;
            height: 60px;
            color: white;
            background-color: #474747;
          }
        }
      }
    }
  }
  /*4.review-container*/
  .review-container {
    @extend %dropshadow-container-spread;

    p {
      padding: 35px 0 10px 0;
      text-align: center;
      @extend %MM;
      font-size: 58px;
    }

    .reviews {
      margin: 0 auto;
      width: 1560px;
      
      display: flex;
      padding-bottom: 100px;
      .review-slider {
        width: 780px;
        height: 690px;

        .swiper-pagination {  
          bottom: var(--swiper-pagination-bottom, -3px);
          --swiper-theme-color: #474747;
          .swiper-pagination-bullet{width: 20px;height: 20px;}
        }

        .swiper-wrapper {
          height: 620px;
          .swiper-slide {
            display: grid;
            grid-template-columns: 350px 350px;
            grid-row-gap: 40px;
            grid-column-gap: 80px;

            .review-card {
              padding: 15px 25px 25px 25px;
              margin: auto auto;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              @extend %MM;
              font-size: 20px;
              box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.40);
              border-radius: 25px;
              width: 340px;
              height: 250px;

              .review-card-date {
                text-align: right;
                @extend %ML;
              }
            }
          }
        }
      }
    }

    .review-form {
      margin-top: 20px;
      padding: 40px 75px 85px 75px;
      width: 650px;
      height: 580px;
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.40);
      border-radius: 15px;

      .review-form-heading {
        margin-bottom: 20px;
        @extend %MM;
        font-size: 30px;
        text-align: center;
      }

      textarea {
        padding: 10px;
        width: 100%;
        height: 300px;
        box-shadow: inset 0 2px 4px 0px rgba(0, 0, 0, 0.40);
        font-size: 24px;
      }

      .review-form-bottom {
        display: flex;
        width: unset;
        height: 40px;

        p {
          margin: 0;
          padding: unset;
          padding-right: 10px;
          width: 130px;
          height: unset;
          font-size: 20px;
          line-height: 40px;  
        }

        input {
          padding-left: 10px;
          box-shadow: inset 0 2px 4px 0px rgba(0, 0, 0, 0.40);
          width: 200px;
          height: unset;
          font-size: 24px;
        }

        button {
          margin-left: 20px;
          color: white;
          background-color: #474747;
          width: 150px;
          height: 50px;
          @extend %MR;
          font-size: 24px;
        }
      }

      .review-form-warning {
        text-align: center;
        margin-top: 30px;
        color: red;
        @extend %MR;
        font-size: 24px;
      }
    }
  }
  /*5.footer*/
  .footer {
    width: unset;
    height: 150px;
    background-color: #00000023;

    .footer__logo {
      padding-top: 35px;
      display: flex;
      justify-content: center;
    }

    p {
      @extend %MM;
      text-align: center;
      padding-top: 10px;
      font-size: 16px;
    }
  }
}
/*modal popup*/
.modal::backdrop {background: rgba(0, 0, 0, 0.4);}
.modal {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 45px 30px 45px;
  .modal-content {
    justify-content: center;
    width: 520px;
    height: 400px;
    .modal-header {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
      font-size: 30px;
      @extend %MB;
      .close-modal-btn {
        font-weight: 600;
        font-size: 40px;
        position: fixed;
        right: 5%;
        top: 5%;
        cursor: pointer;
      }
    }
    .modal-form {
      height: 330px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @extend %MR;
      font-size: 24px;
      p {font-size: 30px;}
      .modal-body-form-input {
        display: flex;
        justify-content: right;
        input {
          box-shadow: inset 0 2px 4px 0px rgba(0, 0, 0, 0.20);
          width: 350px;
          margin-left: 10px;
          font-size: 24px;
          @extend %MR;
        }
      }
      .modal-submit-btn {
        width: 200px;
        height: 50px;
        @extend %MR;
        font-size: 24px;
        color: white;
        background-color: #474747;
        margin: 0 auto;
      }
    }
  }
}

.thanks {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 310px;
  height: 310px;
  padding: 20px 20px 35px 20px;
  display: flex;
  flex-direction: column  ;
  justify-content: space-between;
  text-align: center;
  @extend %dropshadow-container-spread;
  border-radius: 18px;
  .thanks__logo {
    display: flex;
    justify-content: center;
  }
  p, a{ 
    @extend %MR;
    font-size: 22px;
    color: black;
  }
}
@media(max-width: 1600px) {
  .container {
    .review-container .reviews{
      .review-slider {width: 780px; margin: 0 auto;}
      display: block;
      width: 800px;
      .review-form{
        width: 310px;
        height: 380px;
        padding: 15px 35px;
        margin: 50px auto 0 auto;
        textarea {
          height: 100px;
        }
        .review-form-heading{
          margin-bottom: 10px;
          font-size: 24px;
        }
        .review-form-bottom {
          height: unset;
          display: block;
          text-align: center;
          p{width: unset; padding: unset;line-height: unset;}
          input{width: 100%;margin: 10px 0 20px 0;height: 40px;}
          button{margin: unset;}
        }
        .review-form-warning {
          margin-top: 10px;
          font-size: 20px;
        }
      }
    }
    
  }
}

@media(max-width:1200px) {
  .container {
    
    .main-container .main {
      width: 800px;
      .catalog-container{
        width: 700px;
        margin: 0 auto;

        .product {
          &:nth-child(2n) {
            margin-right: 0;
          }
          &:nth-child(3n) {
            margin-right: 100px;
          }
        }
      }
    }
  }
}
@media(max-width:800px){
  .container {
      

    .main-container .main {
      width: 320px;
      .catalog-container{
      width: 300px;
      margin: 0  auto;
      .product{
        margin-right: 0;
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
      }
    }
    .review-container .reviews{
      width: 100vw;
      .review-slider {
        width: 100vw;
        height: 400px;
          .swiper-wrapper{
            height: 350px;
            .swiper-slide{
              display: flex ;
              .review-card{
                width: 310px;
              }
            }
          }
      }
    }
  } 
}
@media(max-width: 600px) {
  .header-slider .swiper-slide {
    .swiper-image {
      position: absolute;
      top: 100%;
    }
    .swiper-text {
      padding: 0 20px;
      font-size: 32px;
      .heading {
        font-size: 38px;
      }
    }
  }
}
