

.main-container {
    @extend %dropshadow-container-spread !optional;

    .main {
      margin: 0 auto;
      width: 1100px;
      
      height: unset;

      p {
        padding: 100px 0 50px 0;
        text-align: center;
        font-size: 58px;
        @extend %MM !optional;
      }

      .catalog-container {
        display: flex;
        flex-wrap: wrap;

        .product {
          margin: 0 100px 100px 0;
          padding: 25px 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          width: 300px;
          height: 425px;
          border: solid rgb(0, 0, 0, 0.6) 3px;
          border-radius: 25px;
  
          &:nth-child(3n) {
            margin-right: 0;
          }

          .product-image img {
            width: 170px;
            height: 170px;
          }

          .product-name {

            @extend %MM !optional;
            font-size: 16px;
          }

          .product-description {
            font-size: 14px;
            @extend %MR !optional;
          }

          .product-button button {
            @extend %MM !optional;
            font-size: 16px;
            width: 180px;
            height: 60px;
            color: white;
            background-color: #474747;
          }
        }
      }
    }
  }