

.footer {
    width: unset;
    height: 150px;
    background-color: #00000023;
    .logo {
      font-size: 32px;
      @extend %MB !optional;
      line-height: 50px;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .footer__logo {
      padding-top: 35px;
      display: flex;
      justify-content: center;
    }

    p {
      @extend %MM !optional;
      text-align: center;
      padding-top: 10px;
      font-size: 16px;
    }
  }