@import "base.scss";
@import "thanks.scss";
@import "modal.scss";
@import "review.scss";
@import "header.scss";
@import "footer.scss";
@import "catalog.scss";



@media(max-width: 1600px) {
  
*::-webkit-input-placeholder {
  font-size: 18px;
}
*:-moz-placeholder {
  /* FF 4-18 */
  font-size: 18px;
}
*::-moz-placeholder {
  /* FF 19+ */
  font-size: 18px;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 18px;
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 18px;
}
*::placeholder {
  /* modern browser */
  font-size: 18px;
}
  .container {
    .review-container {
      .reviews {
        .review-slider {
          width: 780px;
          margin: 0 auto;
        }

        width: 800px;
        display: block;

        .review-form {
          width: 310px;
          height: 380px;
          padding: 15px 35px;
          margin: 50px auto 0 auto;

          textarea {
            height: 100px;
          }

          .review-form-heading {
            margin-bottom: 10px;
            font-size: 24px;
          }

          .review-form-bottom {
            display: block;
            text-align: center;

            p {
              width: unset;
              padding: unset;
              line-height: unset;
            }

            input {
              width: 100%;
              height: 40px;
              margin: 10px 0 20px 0;
            }

            button {
              margin: unset;
            }
          }

          .review-form-warning {
            margin-top: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media(max-width:1200px) {
  .container {
    .header {
      .logo {
        img {
          width: 35px;
          height: 35px;
        }

        line-height: 35px;
      }

      height: 50px;

      .header__logo {
        font-size: 18px;
      }
    }

    .header-slider-container .header-slider {
      height: 540px;

      .swiper-text {
        font-size: 24px;

        .heading {
          font-size: 36px;
        }
      }

      .swiper-image img {
        width: 230px;
      }
    }

    .review-container {
      p {
        padding: 40px 0 0 0;
        font-size: 36px;
      }
    }

    .main-container .main {
      p {
        padding: 50px 0 10px 0;
        font-size: 36px;
      }

      width: 800px;

      .catalog-container {
        width: 700px;
        margin: 0 auto;

        .product {
          &:nth-child(3n) {
            margin-right: 100px;
          }

          &:nth-child(2n) {
            margin-right: 0;
          }

        }
      }
    }
  }
}

@media(max-width:800px) {
  .container {


    .main-container .main {

      p {
        padding: 40px 0 20px 0
      }

      ;
      width: 320px;

      .catalog-container {
        width: 300px;
        margin: 0 auto;

        .product {
          margin-right: 0;

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }

    .review-container .reviews {

      width: 100vw;

      .review-slider {
        width: 100vw;
        height: 400px;

        .swiper-wrapper {
          height: 350px;

          .swiper-slide {
            display: flex;

            .review-card {
              width: 310px;
            }
          }
        }
      }
    }
  }

  .modal {
    width: 320px;
    height: 400px;

    .modal-content {
      .modal-header {
        padding-bottom: 10px;
        font-size: 24px;
      }

      .modal-form {
        p {
          font-size: 20px;
        }

        ;

        .modal-body-form-input {
          flex-direction: column;
          text-align: center;

          input {
            width: unset;
            margin: unset;
          }
        }
      }
    }
  }
}

@media(max-width: 600px) {

  .container {
    .header-slider .swiper-slide {
      display: block;

      .swiper-image {
        margin: 0 auto;

        img {
          width: 140px;
          padding-top: 20px;
        }
      }

      .swiper-text {
        padding: 0 20px;

      }
    }
  }
}