.review-container {
  @extend %dropshadow-container-spread !optional;

  p {
    padding: 50px 0 10px 0;
    text-align: center;
    @extend %MM !optional;
    font-size: 58px;
  }

  .reviews {
    width: 1560px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;

    .review-slider {
      width: 780px;
      height: 690px;

      .swiper-pagination {
        padding: 0 10px;
        --swiper-theme-color: #474747;

        .swiper-pagination-bullet {
          width: 20px;
          height: 20px;
          margin: 10px 15px;

        }

      }

      .swiper-wrapper {
        height: 620px;

        .swiper-slide {
          display: grid;
          grid-template-columns: 350px 350px;
          grid-row-gap: 40px;
          grid-column-gap: 80px;

          .review-card {
            width: 340px;
            height: 250px;
            padding: 15px 25px 25px 25px;
            margin: auto auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-wrap: break-word;
            @extend %MM !optional;
            font-size: 20px;
            box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.40);
            border-radius: 25px;

            .review-card-date {
              text-align: right;
              @extend %ML !optional;
            }
          }
        }
      }
    }
  }

  .review-form {
    width: 650px;
    height: 580px;
    padding: 40px 75px 85px 75px;
    margin-top: 20px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.40);
    border-radius: 15px;

    .review-form-heading {
      margin-bottom: 20px;
      @extend %MM !optional;
      font-size: 30px;
      text-align: center;
    }

    textarea {
      width: 100%;
      height: 300px;
      padding: 10px;
      box-shadow: inset 0 2px 4px 0px rgba(0, 0, 0, 0.40);
      font-size: 24px;

    }

    .review-form-bottom {
      width: unset;
      height: 40px;
      display: flex;
      margin-top: 30px;

      p {
        width: 130px;
        height: unset;
        padding: 0 10px 0 0;
        margin: 0;
        line-height: 40px;
        font-size: 20px;
      }

      input {
        width: 200px;
        height: unset;
        padding-left: 10px;
        box-shadow: inset 0 2px 4px 0px rgba(0, 0, 0, 0.40);
        font-size: 24px;
      }

      button {
        width: 150px;
        height: 40px;
        margin-left: 20px;
        color: white;
        background-color: #474747;
        @extend %MR !optional;
        font-size: 24px;
      }
    }

    .review-form-warning {
      margin-top: 30px;
      text-align: center;
      color: red;
      @extend %MR !optional;
      font-size: 24px;
    }
  }
}