.thanks {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 310px;
  height: 310px;
  padding: 20px 20px 35px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  @extend %dropshadow-container-spread !optional;
  border-radius: 18px;

  .thanks__logo {
    display: flex;
    justify-content: center;

    img {
      width: 50px;
      height: 50px;
    }

    .logotext {
      @extend %MB !optional;
      font-size: 32px;
      line-height: 50px;
    }
  }

  p,
  a {
    @extend %MR !optional;
    font-size: 22px;
    color: black;
  }
}